# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="mysql://username:password@localhost:3306/investor?schema=public"
NEXT_PUBLIC_PERSON_ID_NAME="person_id"
NEXT_PUBLIC_HOST="http://localhost.com:3014"
MELLI_PAYAMAK_USERNAME="username"
MELLI_PAYAMAK_PASSWORD="password"
MELLI_PAYAMAK_FROM="from"
ADMIN_PHONE="phone"



