.itembar{
    border-radius: 8px;
    background-color: #f3f4f6;
    color: #374151;
    margin-top: 5px;
    padding: 2px;
}

.itembar img{
    border-radius: 50%;
}

.active{
    background-color: #3b82f6;
    color: #ffffff;
}
.active:hover{
    background-color: #3b82f6 !important;
}